html {
    height:100%;
}



body {
    overflow: hidden;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #171219;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes at least the full height of the viewport */
}

h1 {
    color: #f2fbeb;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 10px;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: stretch; /* Allow items to stretch vertically */
}

.container {
    flex: 1; /* Each container takes up an equal portion of the space */
    display: flex;
}

.box {
    flex: 1;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    padding: 20px;
    margin: 10px;
    background-color: #f2fbeb00;
    border: 2px solid #333; 
}

.wide {
    flex: 2; /* Make the middle container wider */
}


/* Remove border from the boxes inside containers without the 'wide' class */
.container:not(.wide) .box {
    border: none;
}

a {
    color: #f2fbeb;
    text-decoration: none;
}

p {
    color: #f2fbeb;
    text-decoration: none;
}

h3 {
    color: #f2fbeb;
}
/* Link style on hover */
a:hover {
    color: #f2fbeb86;
}

.resize {
    height: 100%;
    Width: 100%;
}